* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-bottom: 0;
}

.header {
    width: 100%;
    background-color: white;
    float: left;
    border-bottom: 1px solid lightgrey;
}

.logo {
    display: inline-block;
}

.logo img {
    width: 230px;
    height: 60px;
}

.secenekler {
    display: flex;
    align-items: center;
}

.secenekler a {
    text-decoration: none;
    font-weight: 500;
    font-size: 90%;
    margin-left: 20px;
    color: grey;
}

.secenekler a:hover {
    color: black;
}

.header2 {
    width: 100%;
    background-color: rgba(105, 105, 105, 0.055);
    border-bottom: 2px solid blue;
}

.header2 .container {
    display: flex;
    justify-content: space-between;
}

.tum-urunler {
    display: flex;
    align-items: center;
}

.search-bar {
    width: 60%;
    display: grid;
    align-content: center;
}

.giris span {
    font-size: large;
    font-weight: 500;
}

.giris .user {
    display: inline-block;
}

.giris .user i {
    font-size: xx-large;
}

.giris .login {
    display: inline-block;
    line-height: normal;
    font-size: 85%;
    position: relative;
    top: 50%;
}

.giris .dropdown-menu {
    width: 185%;
}

.sepet span {
    font-size: large;
    font-weight: 500;
}

.sepet .cart {
    display: inline-block;
}

.sepet .cart i {
    font-size: xx-large;
}

.sepet .sepetim {
    display: inline-block;
    line-height: normal;
    font-size: 85%;
    position: relative;
    top: 9%;
}

.banka-reklam img {
    width: 100%;
}

.main-carousel {
    margin-top: 20px;
}

.main-carousel .container {
    display: flex;
    justify-content: space-between;

}

.buyuk-carousel {
    width: 75%;
}

.kucuk-carousel {
    width: 23%;
    background-color: white;
    border: 1px solid rgb(236, 232, 232);
}

.kucuk-carousel img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 180px;
}

.kucuk-carousel h4 {
    color: orangered;
}

.kucuk-carousel p {
    vertical-align: text-bottom;
}

.sistemler {
    margin-top: 20px;
}

.sistemler .container {
    display: flex;
    justify-content: space-between;
}

.sistemler img {
    width: 90%;
    margin-left: 5%;
}

.sistemler h5 {
    margin-top: 20px;
    margin-left: 20px;
}

.sistem-toplama {
    width: 50%;
    border: 1px solid rgb(236, 232, 232);
    background-color: white;
}

.hazir-sistemler {
    width: 50%;
    border: 1px solid rgb(236, 232, 232);
    background-color: white;
}

.populer-kategoriler {
    margin-top: 20px;
}

.populer-kategoriler .col2 h6,
.col3 h6 {
    text-align: center;
}

.populer-kategoriler .col1 h6,
.col4 h6 {
    margin-left: 15%;
}

.populer-kategoriler .baslik p {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
    margin-left: .5rem;
    font-size: larger;
    font-weight: 500;
    border-bottom: 1px solid rgb(236, 232, 232);
}

.populer-kategoriler .container .kategoriler {
    background-color: white;
    border: 1px solid rgb(236, 232, 232);
}

.populer-kategoriler .container .kategoriler .kategoriler-container {
    width: 100%;
    display: flex;
}

.populer-kategoriler .col1 {
    padding: 1rem;
    padding-right: 0;
    width: 30%;
}

.populer-kategoriler .col1 .row1 .notebook {
    display: flex;
    align-items: center;
    padding-bottom: 5%;
    border-bottom: 1px solid rgb(236, 232, 232);
    border-right: 1px solid rgb(236, 232, 232);
}

.populer-kategoriler .col1 .row2 .cep-telefonu {
    display: flex;
    align-items: center;
    padding-top: 5%;
    border-right: 1px solid rgb(236, 232, 232);
}

.populer-kategoriler .col2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 20%;
}

.populer-kategoriler .monitör {
    border-right: 1px solid rgb(236, 232, 232);
}

.populer-kategoriler .col3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 20%;
}

.populer-kategoriler .col4 {
    padding: 1rem;
    padding-left: 0;
    width: 30%;
}

.populer-kategoriler .col4 .row1 .kulaklik {
    display: flex;
    align-items: center;
    padding-bottom: 5%;
    border-bottom: 1px solid rgb(236, 232, 232);
    border-left: 1px solid rgb(236, 232, 232);
}

.populer-kategoriler .col4 .row2 .veri-depolama {
    display: flex;
    align-items: center;
    padding-top: 5%;
    border-left: 1px solid rgb(236, 232, 232);
}

.populer-kategoriler img {
    margin-left: 13%;
}

.bankalar {
    width: 100%;
    margin-top: 20px;
    height: 55px;
    background-color: rgb(233, 232, 232);
    display: flex;
    align-items: center;
}

.bankalar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bankalar .container span {
    font-size: large;
    font-weight: bold;
    color: grey;
}

.bankalarin-bankasi {
    width: 100%;
    height: 55px;
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
}

.bankalarin-bankasi .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    background-color: rgb(23, 23, 23);
}

.footer .container {
    width: 100%;
    display: flex;
    padding-top: 20px;
}

.footer .col1 {
    width: 28%;
    padding-right: 20px;
}

.footer .col1 span {
    color: rgb(115, 115, 115);
}

.footer .col1 .email form {
    width: 100%;
    position: relative;
    margin-top: .25rem;
    margin-bottom: .75rem;
}

.footer .col1 .email input {
    font-size: .875rem;
    background-color: rgb(45 45 45);
    border-style: none;
}

.footer .col1 .email button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .875rem;
    line-height: normal;
    background-color: grey;
    border-radius: 0;
}

.footer .col1 .images{
    display: flex;
    justify-content: space-around;
}

.footer .col1 img{
    max-height: 119px;
}

.footer .col1 > a{
    display: flex;
    justify-content: center;
}

.footer .col2 {
    width: 18%;
}

.footer .col3 {
    width: 18%;
}

.footer .col4 {
    width: 18%;
}

.footer .col5 {
    width: 18%;
}

.footer p {
    margin-bottom: 0;
    font-weight: 600;
    color: rgb(163, 163, 163);
}

.footer a {
    font-weight: 500;
    display: block;
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgb(115, 115, 115);
}

.footer-list {
    border-left: 1px solid green;
    list-style-type: none;
    padding-left: 20px;
}

.footer .footfooter{
    margin-top: 1.25rem;
    border-top: 1px solid green;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.footer .footfooter span{
    color: white;
}

.footer .footfooter .social-media{
    display: flex;
    justify-content: space-between;
}

.footer .footfooter .social-media a{
    margin-left: 15px;
    font-size: larger;
}